.oneColumn {
  padding-block: 40px;
  background: var(--Sky-50);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px); /* サブピクセルレンダリング対策 */
    left: 0;
    width: 100%;
    height: 25px;
    background: url(/page-wave-sp.svg) no-repeat center / 100% 100%;
  }

  @media (width >= 768px) {
    padding-block: 80px;

    &::before {
      height: 92px;
      background-image: url(/page-wave-pc.svg);
    }
  }
}

.container {
  width: calc(1040px + 20px * 2);
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

.main {
  padding: 40px 20px;
  border-radius: 20px;
  background: var(--White);

  @media (width >=768px) {
    padding: 80px;
  }
}

.content {
    width: 880px;
    max-width: 100%;
    margin-inline: auto;

    &.isSlim {
        width: 768px;
    }
}
