.sidebar {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.widget {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.widgetTitle {
  padding-bottom: 6px;
  border-bottom: 2px solid var(--Blue-500);
  color: var(--Slate-700);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.8;
}

.profile {
  display: grid;
  gap: 16px;
}

.profileImage {
  display: block;
  width: 100%;
}

.profileBody {
}

.profileName {
  color: var(--Slate-700);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.8;
}

.profileDescription {
  margin-top: 10px;
  color: var(--Slate-700);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
}

.profileButton {
  text-align: center;
}

.button {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--Blue-500);
  border-radius: 48px;
  background: var(--Blue-500);
  color: var(--White);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.05em;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--White);
      color: var(--Blue-500);
    }
  }
}

.buttonIcon {
  width: 18px;
}

.buttonIcon path {
  fill: currentColor;
  transition: fill 0.3s;
}

.cards {
}

.card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 8px 12px 8px;
  border-bottom: 1px solid var(--Gray-200);
}

.cardImage {
  flex-shrink: 0;
  width: 155px;
  aspect-ratio: 155 / 103;
  border-radius: 4px;
  object-fit: cover;

  @media (width >= 768px) {
    width: calc(162 / 380 * 100%);
    aspect-ratio: 162 / 108;
  }
}

.cardBody {
  flex-grow: 1;
}

.cardDate {
  display: block;
  color: var(--Slate-400);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.8;
}

.cardTitle {
  margin-top: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: var(--Slate-700);
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.list {
}

.link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--Slate-700);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.8;

  &::before {
    content: "";
    width: 6px;
    aspect-ratio: 6 / 12;
    background: currentColor;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    flex-shrink: 0;
  }
}
