.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px -3px rgba(96, 165, 250, 0.15), 0px -5px 6px -4px rgba(96, 165, 250, 0.1);
  overflow: hidden;
  border-radius: 16px;
}

.image {
  width: 100%;
  aspect-ratio: 248 / 140;
  object-fit: cover;
}

.body {
  display: flex;
  padding: 16px 16px 20px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  background: var(--White);
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--sub-, #002147);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;

  &::before {
    content: "";
    width: 14px;
    height: 16px;
    background: url("/img/quote.svg") no-repeat center / contain;
  }
}

.company {
  color: var(--Blue-500);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
