/* cases */
.case {
  padding-block: 64px 89px;
  background: var(--Sky-50);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px); /* サブピクセルレンダリング対策 */
    left: 0;
    width: 100%;
    height: 25px;
    background: url(/case-section-wave-sp.svg) no-repeat center / 100% 100%;
  }

  @media (width >= 768px) {
    padding-block: 80px 167px;

    &::before {
      height: 85px;
      background-image: url(/case-section-wave-pc.svg);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  overflow: hidden;
}

.slider {
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  gap: 16px;
}

.pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-inline: 0 !important;
  border-radius: 100%;
  background: var(--Gray-300, #d1d5db);
  opacity: 1;

  &.swiper-pagination-bullet-active {
    background-color: var(--Blue-500);
  }

  @media (width >= 768px) {
    width: 16px;
    height: 16px;
  }
}

.button {
  text-align: center;
}