/* feature */
.feature {
  padding-block: 40px 65px;
  background: var(--Sky-200);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px); /* サブピクセルレンダリング対策 */
    left: 0;
    width: 100%;
    height: 25px;
    background: url(/feature-section-wave-sp.svg) no-repeat center / 100% 100%;
  }

  @media (width >= 768px) {
    padding-block: 80px 167px;

    &::before {
      height: 87px;
      background-image: url(/feature-section-wave-pc.svg);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(1240px + 20px * 2);
  max-width: 100%;
  margin-inline: auto;
  gap: 32px;

  @media (width >= 768px) {
    padding-inline: 20px;
    gap: 40px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.card {
  &:nth-child(2n + 1) {
    padding-right: 32px;
  }

  &:nth-child(2n) {
    padding-left: 32px;
  }

  @media (width >= 768px) {
    &:nth-child(2n + 1) {
      padding-right: 0;
    }

    &:nth-child(2n) {
      padding-left: 0;
    }
  }
}