/* fv */
.fv {
  padding-block: 378px 55px;
  position: relative;
  background: url(/fv-bg-sp.png) no-repeat top 90px center / auto 289px;

  @media (width >= 768px) {
    padding-block: 206px 191px;
    background-image: url(/fv-bg-pc.png);
    background-position: top 125px center;
    background-size: auto 534px;
  }
}

.content {
  width: fit-content;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 36px;

  @media (width >= 768px) {
    width: calc(1160px + 20px * 2);
    padding-inline: 20px;
  }
}

.catch {
  color: var(--Blue-500);
  font-size: 24px;
  font-weight: 800;
  line-height: 1.6;

  @media (width >= 768px) {
    font-size: 40px;
  }

  @media (width >= 1024px) {
    font-size: 48px;
  }
}

.description {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;

  @media (width >= 768px) {
    margin-top: 20px;
    font-size: 18px;
  }

  @media (width >= 1024px) {
    font-size: 20px;
  }
}

.button {
  margin-top: 24px;
  text-align: center;

  @media (width >= 768px) {
    margin-top: 36px;
    text-align: left;
  }
}

/* point */
.point {
  padding-block: 40px 29px;
  background: var(--White);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px); /* サブピクセルレンダリング対策 */
    left: 0;
    width: 100%;
    height: 25px;
    background: url(/point-section-wave-sp.svg) no-repeat center / 100% 100%;
  }

  @media (width >= 768px) {
    padding-block: 80px 145px;

    &::before {
      height: 85px;
      background-image: url(/point-section-wave-pc.svg);
    }
  }
}

.container {
  width: calc(1176px + 20px * 2);
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 26px;

  @media (width >= 768px) {
    padding-inline: 20px;
  }
}

.lead {
  color: var(--Slate-700);
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;

  .em {
    color: var(--Blue-500);
  }

  @media (width >= 768px) {
    font-size: 32px;

    .spOnly {
      display: none;
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 16px;

  @media (width >= 768px) {
    flex-direction: row;
    margin-top: 40px;
  }
}

.card {
  flex: 1;
  flex-direction: column;

  &:nth-child(n + 2) {
    border-top: 3px solid #f1f5f9;
    border-left: none;
  }

  @media (width >= 768px) {
    flex-direction: row;

    &:nth-child(n + 2) {
      border-left: 3px solid #f1f5f9;
      border-top: none;
    }
  }
}

/* cases */
.p-top-case {
  padding-block: 64px 89px;
  background: var(--Sky-50);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px); /* サブピクセルレンダリング対策 */
    left: 0;
    width: 100%;
    height: 25px;
    background: url(/case-section-wave-sp.svg) no-repeat center / 100% 100%;
  }

  @media (width >= 768px) {
    padding-block: 80px 167px;

    &::before {
      height: 85px;
      background-image: url(/case-section-wave-pc.svg);
    }
  }
}

.p-top-case__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  overflow: hidden;
}

.p-top-case__slider {
  width: 100%;
}

.p-top-case__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  gap: 16px;
}

.p-top-case__pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-inline: 0 !important;
  border-radius: 100%;
  background: var(--Gray-300, #d1d5db);
  opacity: 1;

  &.swiper-pagination-bullet-active {
    background-color: var(--Blue-500);
  }

  @media (width >= 768px) {
    width: 16px;
    height: 16px;
  }
}

.p-top-case__button {
  text-align: center;
}

/* feature */
.p-top-feature {
  padding-block: 40px 65px;
  background: var(--Sky-200);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px); /* サブピクセルレンダリング対策 */
    left: 0;
    width: 100%;
    height: 25px;
    background: url(/feature-section-wave-sp.svg) no-repeat center / 100% 100%;
  }

  @media (width >= 768px) {
    padding-block: 80px 167px;

    &::before {
      height: 87px;
      background-image: url(/feature-section-wave-pc.svg);
    }
  }
}

.p-top-feature__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(1240px + 20px * 2);
  max-width: 100%;
  margin-inline: auto;
  gap: 32px;

  @media (width >= 768px) {
    padding-inline: 20px;
    gap: 40px;
  }
}

.p-top-feature__cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.p-top-feature__card {
  &:nth-child(2n + 1) {
    padding-right: 32px;
  }

  &:nth-child(2n) {
    padding-left: 32px;
  }

  @media (width >= 768px) {
    &:nth-child(2n + 1) {
      padding-right: 0;
    }

    &:nth-child(2n) {
      padding-left: 0;
    }
  }
}

/* story */
.p-top-story {
  padding-block: 60px 80px;
  background: var(--White);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px); /* サブピクセルレンダリング対策 */
    left: 0;
    width: 100%;
    height: 25px;
    background: url(/story-section-wave-sp.svg) no-repeat center / 100% 100%;
  }

  @media (width >= 768px) {
    padding-block: 108px 180px;

    &::before {
      height: 87px;
      background-image: url(/story-section-wave-pc.svg);
    }
  }
}

.p-top-story__container {
  width: calc(1160px + 20px * 2);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-inline: auto;
  padding-inline: 28px;

  @media (width >= 768px) {
    flex-direction: row;
    gap: 80px;
    padding-inline: 20px;
  }
}

.p-top-story__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @media (width >= 768px) {
    align-items: flex-start;
    gap: 28px;
  }
}

.p-top-story__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;

  @media (width >= 768px) {
    font-size: 20px;
  }
}

.p-top-story__imageArea {
  width: 294px;
  flex-shrink: 0;
  text-align: center;

  @media (width >= 768px) {
    width: calc(388 / 1160 * 100%);
  }
}

.p-top-story__image {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
  border: 8px solid var(--Sky-400);
  box-shadow: 0px 5px 15px -3px rgba(96, 165, 250, 0.15), 0px -5px 6px -4px rgba(96, 165, 250, 0.1);
}

.p-top-story__box {
  width: 224px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding: 16px 24px;
  gap: 4px;
  margin-top: -40px;
  border-radius: 20px;
  background: var(--White);
  box-shadow: 0px 5px 15px -3px rgba(96, 165, 250, 0.15), 0px -5px 6px -4px rgba(96, 165, 250, 0.1);
  position: relative;
  z-index: 1;

  @media (width >= 768px) {
    width: 339px;
  }
}

.p-top-story__logo {
  display: block;
  width: 116px;

  @media (width >= 768px) {
    width: 143px;
  }
}

.p-top-story__name {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.8;
}

/* news */
.p-top-news {
  padding-block: 60px;
  background: var(--Sky-50);
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: calc(100% - 1px); /* サブピクセルレンダリング対策 */
    left: 0;
    background: url(/news-section-wave-sp.svg) no-repeat center / 100% 100%;
  }

  @media (width >= 768px) {
    padding-block: 80px;

    &::before {
      height: 72px;
      background-image: url(/news-section-wave-pc.svg);
    }
  }
}

.p-top-news__container {
  width: calc(1024px + 20px * 2);
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 16px;
  display: grid;
  gap: 20px;

  @media (width >= 768px) {
    padding-inline: 20px;
    gap: 36px;
  }
}

.p-top-news__cards {
}

.p-top-news__card {
  border-bottom: 2px solid var(--Gray-200);
}

.p-top-news__button {
  text-align: center;
}
