.card {
  padding-block: 24px;
  padding-inline: 16px;

  @media (width >= 768px) {
    padding-inline: 40px;
  }
}

.imageWrap {
  padding-inline: 32px;

  @media (width >= 768px) {
    padding-inline: 0;
  }
}

.image {
  display: block;
  width: 294px;
  max-width: 100%;
  margin-inline: auto;
}

.title {
  margin-top: 20px;
  color: var(--Blue-500);
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.8;
  word-break: auto-phrase;

  @media (width >= 768px) {
    font-size: 20px;
  }
}

.result {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 4px;
  margin-top: 12px;
}

.number {
  color: var(--Blue-500);
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;

  @media (width >= 768px) {
    font-size: 56px;
  }
}

.percentage {
  color: var(--Blue-500);
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
}

.description {
  margin-top: 20px;
  color: var(--Slate-700);
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;

  @media (width >= 768px) {
    font-size: 18px;
  }
}
