.c-buttonOutline {
  display: inline-flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--Blue-500);
  border-radius: 48px;
  background: var(--White);
  color: var(--Blue-500);
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: left;
  transition:
    background-color 0.3s,
    color 0.3s;

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--Blue-500);
      color: var(--White);
    }
  }

  @media (width >= 768px) {
    padding-inline: 80px;
    font-size: 20px;
  }
}
