.checkbox {
}

.item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--Slate-300);
  border-radius: 2px;
  position: relative;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(/check.svg) no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &:checked {
    &::before {
      opacity: 1;
    }
  }

  &:focus {
    border-color: var(--Blue-500);
  }
}

.text {
  font-size: 16px;

  @media (width>=768px) {
    font-size: 18px;
  }
}
