.hamburger {
  display: inline-block;
  width: 25px;
  height: 21px;
  background: transparent;
  border: none;
  box-shadow: none;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  border-radius: 13px;
  background: var(--Blue-500);
  position: absolute;
  inset: 0;
  margin: auto;
  transition: rotate 0.3s, translate 0.3s;
}

.bar1 {
  translate: 0 -9px;

  .isOpen & {
    translate: 0;
    rotate: 45deg;
  }
}

.bar2 {
  .isOpen & {
    opacity: 0;
  }
}

.bar3 {
  translate: 0 9px;

  .isOpen & {
    translate: 0;
    rotate: -45deg;
  }
}
