.label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.8;
  color: var(--Slate-700);

  @media (width >= 768px) {
    font-size: 18px;
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  padding-inline: 12px;
  background-color: var(--Blue-500);
  border-radius: 2px;
  color: var(--White);
  font-size: 11px;
  font-weight: 500;
  line-height: 1.8;

  &.isRequired {
    background-color: var(--Blue-500);
  }

  &.isOptional {
    background-color: var(--Slate-400);
  }

  @media (width >= 768px) {
    border-radius: 4px;
    font-size: 13px;
  }
}
